Hello <b>{{name}}</b>, 
<p>Products Ordered:</p>
<table>
     {{#data}}
  <tr>
    <th>{{variantId}}</th>
    <th>{{productName}}</th>
    <th>{{quantity}}</th> 
    <th>
    <img style='width:20%' src='https://ecommerce12.s3.ap-south-1.amazonaws.com/ELECTRONICS/Product_1@1'/>
    </th>
  </tr>
    {{/data}}

<p>Total Amount :<b>{{totalAmount}}</b></p> 
Have a Wonderful day: <br> 
